version: "3"

services:
    xbat-nginx:
        image: xbat_nginx
        container_name: xbat-nginx
        restart: unless-stopped
        volumes:
            - /etc/localtime:/etc/localtime:ro
            -  #CERT_DIR#:/etc/ssl/:ro
        ports:
            - "#FRONTEND_NETWORK#:#FRONTEND_PORT#:7000"
        depends_on:
            - xbat-ui
            - xbat-backend
    xbat-backend:
        image: xbat_backend
        container_name: xbat-backend
        restart: unless-stopped
        environment:
            - PYTHONUNBUFFERED=1
        volumes:
            - /etc/xbat/xbat.conf:/etc/xbat/xbat.conf:ro
            - /etc/localtime:/etc/localtime:ro
            - /var/log/xbat/:/var/log/xbat/
            - /run/xbat/:/run/xbat/
            #### for PAM authentication  ####
            - /var/lib/sss/pipes/:/var/lib/sss/pipes/
            - /etc/pam.d/:/etc/pam.d/:ro
            # symlinked to /etc/pam.d/system-auth if authselect used
            - /etc/authselect:/etc/authselect:ro
        depends_on:
            - xbat-mongodb
            - xbat-ctld
            - xbat-valkey
            - xbat-pgbouncer
        expose:
            - 7001
    xbat-ctld:
        image: xbat_ctld
        container_name: xbat-ctld
        restart: unless-stopped
        environment:
            - PYTHONUNBUFFERED=1
        volumes:
            - /etc/xbat/xbat.conf:/etc/xbat/xbat.conf:ro
            - /etc/localtime:/etc/localtime:ro
            - /var/log/xbat/:/var/log/xbat/
            # for docker-host-pipe
            - /run/xbat/:/run/xbat/
            # mount as 'shared' to help with autofs/automount problems
            #- HOME_MNT#:shared
        depends_on:
            - xbat-mongodb
            - xbat-pgbouncer
        expose:
            - 7002
    xbat-ui:
        image: xbat_ui
        container_name: xbat-ui
        restart: unless-stopped
        volumes:
            - /etc/localtime:/etc/localtime:ro
        environment:
            - NUXT_PUBLIC_DEMO_MODE=${DEMO_ENABLED}
            - NUXT_PUBLIC_DEMO_USER=${DEMO_USER}
            - NUXT_PUBLIC_DEMO_PASSWORD=${DEMO_PASSWORD}
        depends_on:
            - xbat-backend
        expose:
            - 7003
    xbat-mongodb:
        image: docker.io/mongo:8
        restart: unless-stopped
        container_name: xbat-mongodb
        user: "#XBAT_UID#:#XBAT_GID#"
        entrypoint: ["mongod"]
        command: ["--config", "/etc/mongod.conf"]
        volumes:
            -  #VAR_LIB#/mongodb/:/var/lib/mongodb/
            -  #VAR_LOG#/mongodb/mongod.log:/var/log/mongodb/mongod.log
            - /etc/xbat/mongod.conf:/etc/mongod.conf:ro
            - /etc/localtime:/etc/localtime:ro
            # TODO mongo user fails creating socket in container due to permissions (but only with podman)
            # Mounting tmp is only a workaround
            - /tmp/:/tmp/
        ports:
            - "#FRONTEND_NETWORK#:27017:27017"

    xbat-questdb:
        image: docker.io/questdb/questdb:9.0.3
        restart: unless-stopped
        container_name: xbat-questdb
        user: "#XBAT_UID#:#XBAT_GID#"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            -  #VAR_LIB#/questdb:/var/lib/questdb
            -  #VAR_LOG#/questdb:/var/log/questdb
            - /etc/xbat/questdb.conf:/var/lib/questdb/conf/server.conf:ro
            - /etc/xbat/questdb-log.conf:/var/lib/questdb/conf/log.conf:ro
        expose:
            - 8812
        ports:
            #- "#FRONTEND_NETWORK#:8812:8812"
            - "#FRONTEND_NETWORK#:9001:9000" # temporary mapping to 9001 during migration to clickhouse
            - "#FRONTEND_NETWORK#:9003:9003"
    xbat-clickhouse:
        image: docker.io/clickhouse/clickhouse-server:25.6.2
        restart: unless-stopped
        container_name: xbat-clickhouse
        user: "#XBAT_UID#:#XBAT_GID#"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            -  #VAR_LIB#/clickhouse:/var/lib/clickhouse/
            -  #VAR_LOG#/clickhouse:/var/log/clickhouse-server/
            - /etc/xbat/clickhouse/config/:/etc/clickhouse-server/config.d/:ro
            - /etc/xbat/clickhouse/users/:/etc/clickhouse-server/users.d/:ro
        cap_add:
            - SYS_NICE
            - IPC_LOCK
        ulimits:
            nofile:
                soft: 262144
                hard: 262144
        expose:
            - 8123 # TODO remove once passed through nginx
            - 9000
        ports:
            - "#FRONTEND_NETWORK#:8123:8123" # web UI and HTTP API
            - "#FRONTEND_NETWORK#:9000:9000" # native protocol
            - "#FRONTEND_NETWORK#:9005:9005" # postgreSQL-compatible protocol
    xbat-valkey:
        image: docker.io/valkey/valkey:7.2-alpine
        restart: unless-stopped
        container_name: xbat-valkey
        user: "#XBAT_UID#:#XBAT_GID#"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/xbat/valkey.conf:/usr/local/etc/valkey/valkey.conf:ro
            #-  #VAR_LIB#/valkey:/data
        expose:
            - 6379
        command: ["/usr/local/etc/valkey/valkey.conf"]
    xbat-pgbouncer:
        image: docker.io/edoburu/pgbouncer:v1.24.1-p1
        restart: unless-stopped
        container_name: xbat-pgbouncer
        user: "#XBAT_UID#:#XBAT_GID#"
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/xbat/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
            - /etc/xbat/userlists.txt:/etc/pgbouncer/userlists.txt:ro
        depends_on:
            - xbat-questdb
        expose:
            - 6432
