[Install]
WantedBy=multi-user.target

[Unit]
Description=xbat measurement daemon
Requires=network.target
After=network.target

[Service]
# In case LIKWID is not properly shut down
Environment="LIKWID_FORCE=1"
Environment="HOME=/tmp"
Type=simple
Restart=no
# enable access to msr registers for LIKWID
ExecStartPre=modprobe msr
# For ACCESSMODE_DAEMON as it spawns a likwid-accessD for each thread
TasksMax=1024
# Increased number of open file descriptors as ACCESSMODE_DIRECT opens msr files for each thread 
# and may run into the limit on systems with high core count (segmentation violation) 
LimitNOFILE=65536

# LD_LIBRARY_PATH for liblikwid and PATH for likwid-accessD binary
ExecStartPre=sysctl -w kernel.sched_rt_runtime_us=-1
ExecStart=/bin/bash -c "PATH=$PATH:/usr/local/share/xbatd/sbin LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib:/usr/lib64:/usr/local/share/xbatd/lib:/usr/local/share/xbatd/lib64 chrt -r 99 /usr/local/bin/xbatd"

# Alternative for chrt that does not work as reliably as the above
#ExecStart=/bin/bash -c "PATH=$PATH:/usr/local/share/xbatd/sbin LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib:/usr/lib64:/usr/local/share/xbatd/lib:/usr/local/share/xbatd/lib64 /usr/bin/nice -n -20 /usr/local/bin/xbatd"