$primary: rgb(var(--v-theme-primary));
$primary-light: rgb(var(--v-theme-primary-light));

$danger: rgb(var(--v-theme-danger));

$warning: rgb(var(--v-theme-warning));
$info: rgb(var(--v-theme-info));

$font-base: rgb(var(--v-theme-font-base));
$font-light: rgb(var(--v-theme-font-light));
$font-disabled: rgb(var(--v-theme-font-disabled));

$highlight: rgba(var(--v-theme-primary-light), 0.25);

$surface-light: rgb(var(--v-theme-surface-light));
$background: rgb(var(--v-theme-background));
