name: Build and Test xbat daemon

on:
  push:
    branches:
      - ci-testing
  pull_request:
    branches:
      - ci-testing

jobs:
  test-el8:
    uses: ./.github/workflows/vm-test.yml
    with:
      distro: 8
      version: 1.0.0
      release: rc0

  test-el9:
    uses: ./.github/workflows/vm-test.yml
    with:
      distro: 9
      version: 1.0.0
      release: rc0

  test-el10:
    uses: ./.github/workflows/vm-test.yml
    with:
      distro: 10
      version: 1.0.0
      release: rc0