name: Build and Test xbat daemon
# build test

on:
  push:
    branches:
      - ci-testing
  pull_request:
    branches:
      - ci-testing

jobs:
  build-el10:
    uses: ./.github/workflows/build.yml
    with:
      version: 1.0.0
      release: rc0
      executor: docker

  install-el10:
    needs: build-el10
    uses: ./.github/workflows/install.yml
    with:
      rpm_artifact: rpm-el10

  install-service-el10:
    needs: install-el10
    runs-on: [self-hosted, xbat]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/cache-node-modules
      - uses: ./.github/actions/cache-nuxt-fonts
      - uses: ./.github/actions/docker-setup
      - name: Run setup.sh install and uninstall on host
        run: |
          chmod +x ./setup.sh
          ./setup.sh install --home-mnt /home/ --executor docker --workers 4
          ./setup.sh remove --yes
